## Task  10 marks
1.	Find the World’s total Population’s as of 1 July (in thousands) in 2023
2.	Find the mean Births (thousands) of Kenya from 1950 to 2023
3.	Find the proportion of the Mean Births(thousands) to the Total Population of July (thousands) in Kenya.
4.	Using 95% percent confidence interval, find the figures within which the proportion above will lie.
5.	Find the correlation between the Births(thousands) and Total Deaths (thousands) in Kenya from 1950 to 2023. Interpret your results.
6.	Take a simple random sample of size 16 in Kenya and size 20 in Uganda and
- i). Compare their mean
- ii). Compare their median
- iii). Determine if there is a statistical difference in their
    a). mean
    b). Their median

### Data
- The data provided is a Demographic indicator by region, subregion and country, annually for 1950-2100
Source: World Population Prospects 2024

In [2]:
# load imports
#import requests
#import zipfile
#import io
import os
import pandas as pd
import numpy as np
from scipy.stats import norm

In [3]:
# check current working directory
cwd = os.getcwd()
print("Current working directory:", cwd)

Current working directory: C:\Users\Davie\Documents\GitHub\ML_MachineLearning\Statistics_for_Data_Science\assignment_2

In [6]:
# create data path
data_path = os.path.join(cwd, 'WPP2024_GEN_F01_DEMOGRAPHIC_INDICATORS_COMPACT.csv')
print(data_path)

C:\Users\Davie\Documents\GitHub\ML_MachineLearning\Statistics_for_Data_Science\assignment_2\WPP2024_GEN_F01_DEMOGRAPHIC_INDICATORS_COMPACT.csv

- Create a Dataframe from csv

In [13]:
# load dataframe
demographic_df=pd.read_csv(data_path)
demographic_df.head()

C:\Users\Davie\AppData\Local\Temp\ipykernel_13148\2846738563.py:2: DtypeWarning: Columns (1,4,5,6,7,11,13,15,16,17,23,24,25,39,41,42,47,48,49,51,53,54,55,56) have mixed types. Specify dtype option on import or set low_memory=False.
  demographic_df=pd.read_csv(data_path)

In [7]:
demographic_df.columns

Index(['Index', 'Region, subregion, country or area *', 'Parent code', 'Year',
       'Total Population, as of 1 January (thousands)',
       'Total Population, as of 1 July (thousands)',
       'Male Population, as of 1 July (thousands)',
       'Female Population, as of 1 July (thousands)',
       'Population Density, as of 1 July (persons per square km)',
       'Population Sex Ratio, as of 1 July (males per 100 females)',
       'Median Age, as of 1 July (years)',
       'Natural Change, Births minus Deaths (thousands)',
       'Rate of Natural Change (per 1,000 population)',
       'Population Change (thousands)', 'Population Growth Rate (percentage)',
       'Population Annual Doubling Time (years)', 'Births (thousands)',
       'Births by women aged 15 to 19 (thousands)',
       'Crude Birth Rate (births per 1,000 population)',
       'Total Fertility Rate (live births per woman)',
       'Net Reproduction Rate (surviving daughters per woman)',
       'Mean Age Childbearing (years)',
       'Sex Ratio at Birth (males per 100 female births)',
       'Total Deaths (thousands)', 'Male Deaths (thousands)',
       'Female Deaths (thousands)',
       'Crude Death Rate (deaths per 1,000 population)',
       'Life Expectancy at Birth, both sexes (years)',
       'Male Life Expectancy at Birth (years)',
       'Female Life Expectancy at Birth (years)',
       'Life Expectancy at Age 15, both sexes (years)',
       'Male Life Expectancy at Age 15 (years)',
       'Female Life Expectancy at Age 15 (years)',
       'Life Expectancy at Age 65, both sexes (years)',
       'Male Life Expectancy at Age 65 (years)',
       'Female Life Expectancy at Age 65 (years)',
       'Life Expectancy at Age 80, both sexes (years)',
       'Male Life Expectancy at Age 80 (years)',
       'Female Life Expectancy at Age 80 (years)',
       'Infant Deaths, under age 1 (thousands)',
       'Infant Mortality Rate (infant deaths per 1,000 live births)',
       'Live Births Surviving to Age 1 (thousands)',
       'Under-Five Deaths, under age 5 (thousands)',
       'Under-Five Mortality (deaths under age 5 per 1,000 live births)',
       'Mortality before Age 40, both sexes (deaths under age 40 per 1,000 live births)',
       'Male Mortality before Age 40 (deaths under age 40 per 1,000 male live births)',
       'Female Mortality before Age 40 (deaths under age 40 per 1,000 female live births)',
       'Mortality before Age 60, both sexes (deaths under age 60 per 1,000 live births)',
       'Male Mortality before Age 60 (deaths under age 60 per 1,000 male live births)',
       'Female Mortality before Age 60 (deaths under age 60 per 1,000 female live births)',
       'Mortality between Age 15 and 50, both sexes (deaths under age 50 per 1,000 alive at age 15)',
       'Male Mortality between Age 15 and 50 (deaths under age 50 per 1,000 males alive at age 15)',
       'Female Mortality between Age 15 and 50 (deaths under age 50 per 1,000 females alive at age 15)',
       'Mortality between Age 15 and 60, both sexes (deaths under age 60 per 1,000 alive at age 15)',
       'Male Mortality between Age 15 and 60 (deaths under age 60 per 1,000 males alive at age 15)',
       'Female Mortality between Age 15 and 60 (deaths under age 60 per 1,000 females alive at age 15)',
       'Net Number of Migrants (thousands)',
       'Net Migration Rate (per 1,000 population)'],
      dtype='object')

In [8]:
required_columns = [
    "Region, subregion, country or area *",
    'Year',
    "Total Population, as of 1 July (thousands)",
    "Births (thousands)",
    "Total Deaths (thousands)"
]

In [29]:
demographic_df=demographic_df[required_columns].dropna()
demographic_df

,"Region, subregion, country or area *",Year,"Total Population, as of 1 July (thousands)",Births (thousands),Total Deaths (thousands)
0,World,1950.0,2 493 093,91 824,48 487
1,World,1951.0,2 536 927,92 507,48 176
2,World,1952.0,2 584 086,97 371,47 383
3,World,1953.0,2 634 106,97 291,47 240
4,World,1954.0,2 685 895,100 188,46 662
...,...,...,...,...,...
3991,Zambia,2019.0,18 514,648,120
3992,Zambia,2020.0,19 059,656,119
3993,Zambia,2021.0,19 604,665,130
3994,Zambia,2022.0,20 153,676,113
3995,Zambia,2023.0,20 724,686,108

In [30]:
demographic_df.dtypes

Region, subregion, country or area *           object
Year                                          float64
Total Population, as of 1 July (thousands)     object
Births (thousands)                             object
Total Deaths (thousands)                       object
dtype: object

In [35]:
# change year to int
demographic_df['Year']=demographic_df['Year'].astype(int)

# Change the following columns to float
columns = [
    'Total Population, as of 1 July (thousands)',
    'Births (thousands)',
    'Total Deaths (thousands)'
]

for col in columns:
    demographic_df[col] = (demographic_df[col].replace(' ', '', regex=True).astype(float))

In [36]:
demographic_df.dtypes

Region, subregion, country or area *           object
Year                                            int32
Total Population, as of 1 July (thousands)    float64
Births (thousands)                            float64
Total Deaths (thousands)                      float64
dtype: object

In [39]:
demographic_clean_df=demographic_df.copy()

In [41]:
demographic_clean_df

,"Region, subregion, country or area *",Year,"Total Population, as of 1 July (thousands)",Births (thousands),Total Deaths (thousands)
0,World,1950,2493093.0,91824.0,48487.0
1,World,1951,2536927.0,92507.0,48176.0
2,World,1952,2584086.0,97371.0,47383.0
3,World,1953,2634106.0,97291.0,47240.0
4,World,1954,2685895.0,100188.0,46662.0
...,...,...,...,...,...
3991,Zambia,2019,18514.0,648.0,120.0
3992,Zambia,2020,19059.0,656.0,119.0
3993,Zambia,2021,19604.0,665.0,130.0
3994,Zambia,2022,20153.0,676.0,113.0
3995,Zambia,2023,20724.0,686.0,108.0

### 1. Find the World’s total Population’s as of 1 July (in thousands) in 2023

In [89]:
#demographic_clean_df[demographic_clean_df["Region, subregion, country or area *"]=='World'].where(['Year']==2023)
# Filter for the World in 2023
world_pop_2023 = demographic_clean_df[
    (demographic_clean_df['Region, subregion, country or area *'] == 'World') & \
    (demographic_clean_df['Year'] == 2023)]['Total Population, as of 1 July (thousands)']

print(int(world_pop_2023.values[0])) # population cannot be float

8091735

### 2. Find the mean Births (thousands) of Kenya from 1950 to 2023

In [88]:
# filter Kenyan Births from 1950 to 2023 and find the mean
births_in_kenya=demographic_clean_df[(demographic_clean_df['Region, subregion, country or area *'] == 'Kenya') & \
                (demographic_clean_df['Year'] <= 2023)]['Total Population, as of 1 July (thousands)'].mean()
print(int(births_in_kenya))

24004

### 3. Find the proportion of the Mean Births(thousands) to the Total Population of July (thousands) in Kenya.

In [93]:
# filter data for Kenya
kenya_demo_df = demographic_df[demographic_df['Region, subregion, country or area *'] == 'Kenya']

# mean values
mean_births = kenya_demo_df['Births (thousands)'].mean()
mean_population = kenya_demo_df['Total Population, as of 1 July (thousands)'].mean()

# proportion
proportion = mean_births / mean_population
round(proportion,5)

0.03897

### 4. Using 95% percent confidence interval, find the figures within which the proportion above will lie.
5.	Find the correlation between the Births(thousands) and Total Deaths (thousands) in Kenya from 1950 to 2023. Interpret your results.
6.	Take a simple random sample of size 16 in Kenya and size 20 in Uganda and
- i). Compare their mean
- ii). Compare their median
- iii). Determine if there is a statistical difference in their
    a). mean
    b). Their median

In [10]:
# commission fee sample column
com_fee_sample=sample["Commission Fee"]

# sample mean
com_fee_sample.mean()

np.float64(127.92)

In [11]:
# calculate 95% confidence interval for the sample mean
def confidence_interval(data_array, confidence):
    data=np.array(data_array)
    sample_size=len(data)
    mean=np.mean(data)
    sample_std=np.std(data, ddof=1)
    error=sample_std/np.sqrt(sample_size) # standard error
    z_value=norm.ppf((1+confidence /100) / 2) # z_value
    
    return (mean -round(z_value*error), mean +(z_value*error))
    
lower, upper = confidence_interval (com_fee_sample, 95)

print(f'CI for the sample is: ({lower:.2f}, {upper:.2f})')

CI for the sample is: (118.92, 136.74)