## Task  10 marks
1.	Find the World’s total Population’s as of 1 July (in thousands) in 2023
2.	Find the mean Births (thousands) of Kenya from 1950 to 2023
3.	Find the proportion of the Mean Births(thousands) to the Total Population of July (thousands) in Kenya.
4.	Using 95% percent confidence interval, find the figures within which the proportion above will lie.
5.	Find the correlation between the Births(thousands) and Total Deaths (thousands) in Kenya from 1950 to 2023. Interpret your results.
6.	Take a simple random sample of size 16 in Kenya and size 20 in Uganda and
- i). Compare their mean
- ii). Compare their median
- iii). Determine if there is a statistical difference in their
    a). mean
    b). Their median

### Data
- The data provided is a Demographic indicator by region, subregion and country, annually for 1950-2100
Source: World Population Prospects 2024

In [130]:
# load imports
#import requests
#import zipfile
#import io
import os
import pandas as pd
import numpy as np
from scipy.stats import norm

In [131]:
# check current working directory
cwd = os.getcwd()
print("Current working directory:", cwd)

Current working directory: C:\Users\Davie\Documents\GitHub\ML_MachineLearning\Statistics_for_Data_Science\assignment_2

In [132]:
# create data path
data_path = os.path.join(cwd, 'WPP2024_GEN_F01_DEMOGRAPHIC_INDICATORS_COMPACT.csv')
print(data_path)

C:\Users\Davie\Documents\GitHub\ML_MachineLearning\Statistics_for_Data_Science\assignment_2\WPP2024_GEN_F01_DEMOGRAPHIC_INDICATORS_COMPACT.csv

- Create a Dataframe from csv

In [133]:
# load dataframe
demographic_df=pd.read_csv(data_path)
demographic_df.head()

C:\Users\Davie\AppData\Local\Temp\ipykernel_13148\1944250787.py:2: DtypeWarning: Columns (1,4,5,6,7,11,13,15,16,17,23,24,25,39,41,42,47,48,49,51,53,54,55,56) have mixed types. Specify dtype option on import or set low_memory=False.
  demographic_df=pd.read_csv(data_path)

,Index,"Region, subregion, country or area *",Parent code,Year,"Total Population, as of 1 January (thousands)","Total Population, as of 1 July (thousands)","Male Population, as of 1 July (thousands)","Female Population, as of 1 July (thousands)","Population Density, as of 1 July (persons per square km)","Population Sex Ratio, as of 1 July (males per 100 females)",...,"Male Mortality before Age 60 (deaths under age 60 per 1,000 male live births)","Female Mortality before Age 60 (deaths under age 60 per 1,000 female live births)","Mortality between Age 15 and 50, both sexes (deaths under age 50 per 1,000 alive at age 15)","Male Mortality between Age 15 and 50 (deaths under age 50 per 1,000 males alive at age 15)","Female Mortality between Age 15 and 50 (deaths under age 50 per 1,000 females alive at age 15)","Mortality between Age 15 and 60, both sexes (deaths under age 60 per 1,000 alive at age 15)","Male Mortality between Age 15 and 60 (deaths under age 60 per 1,000 males alive at age 15)","Female Mortality between Age 15 and 60 (deaths under age 60 per 1,000 females alive at age 15)",Net Number of Migrants (thousands),"Net Migration Rate (per 1,000 population)"
0,1.0,World,0.0,1950.0,2 471 424,2 493 093,1 241 432,1 251 661,19.1,99.2,...,581,497,239.0,269,208.0,375,426,323,0,0.0
1,2.0,World,0.0,1951.0,2 514 762,2 536 927,1 263 362,1 273 565,19.5,99.2,...,567,488,230.0,256,203.0,365,413,316,0,0.0
2,3.0,World,0.0,1952.0,2 559 092,2 584 086,1 287 093,1 296 993,19.8,99.2,...,546,475,217.0,239,196.0,351,393,307,0,0.0
3,4.0,World,0.0,1953.0,2 609 080,2 634 106,1 312 355,1 321 751,20.2,99.3,...,536,467,211.0,231,191.0,343,384,301,0,0.0
4,5.0,World,0.0,1954.0,2 659 132,2 685 895,1 338 531,1 347 364,20.6,99.3,...,522,456,203.0,221,185.0,332,372,293,0,0.0

In [134]:
demographic_df.columns

Index(['Index', 'Region, subregion, country or area *', 'Parent code', 'Year',
       'Total Population, as of 1 January (thousands)',
       'Total Population, as of 1 July (thousands)',
       'Male Population, as of 1 July (thousands)',
       'Female Population, as of 1 July (thousands)',
       'Population Density, as of 1 July (persons per square km)',
       'Population Sex Ratio, as of 1 July (males per 100 females)',
       'Median Age, as of 1 July (years)',
       'Natural Change, Births minus Deaths (thousands)',
       'Rate of Natural Change (per 1,000 population)',
       'Population Change (thousands)', 'Population Growth Rate (percentage)',
       'Population Annual Doubling Time (years)', 'Births (thousands)',
       'Births by women aged 15 to 19 (thousands)',
       'Crude Birth Rate (births per 1,000 population)',
       'Total Fertility Rate (live births per woman)',
       'Net Reproduction Rate (surviving daughters per woman)',
       'Mean Age Childbearing (years)',
       'Sex Ratio at Birth (males per 100 female births)',
       'Total Deaths (thousands)', 'Male Deaths (thousands)',
       'Female Deaths (thousands)',
       'Crude Death Rate (deaths per 1,000 population)',
       'Life Expectancy at Birth, both sexes (years)',
       'Male Life Expectancy at Birth (years)',
       'Female Life Expectancy at Birth (years)',
       'Life Expectancy at Age 15, both sexes (years)',
       'Male Life Expectancy at Age 15 (years)',
       'Female Life Expectancy at Age 15 (years)',
       'Life Expectancy at Age 65, both sexes (years)',
       'Male Life Expectancy at Age 65 (years)',
       'Female Life Expectancy at Age 65 (years)',
       'Life Expectancy at Age 80, both sexes (years)',
       'Male Life Expectancy at Age 80 (years)',
       'Female Life Expectancy at Age 80 (years)',
       'Infant Deaths, under age 1 (thousands)',
       'Infant Mortality Rate (infant deaths per 1,000 live births)',
       'Live Births Surviving to Age 1 (thousands)',
       'Under-Five Deaths, under age 5 (thousands)',
       'Under-Five Mortality (deaths under age 5 per 1,000 live births)',
       'Mortality before Age 40, both sexes (deaths under age 40 per 1,000 live births)',
       'Male Mortality before Age 40 (deaths under age 40 per 1,000 male live births)',
       'Female Mortality before Age 40 (deaths under age 40 per 1,000 female live births)',
       'Mortality before Age 60, both sexes (deaths under age 60 per 1,000 live births)',
       'Male Mortality before Age 60 (deaths under age 60 per 1,000 male live births)',
       'Female Mortality before Age 60 (deaths under age 60 per 1,000 female live births)',
       'Mortality between Age 15 and 50, both sexes (deaths under age 50 per 1,000 alive at age 15)',
       'Male Mortality between Age 15 and 50 (deaths under age 50 per 1,000 males alive at age 15)',
       'Female Mortality between Age 15 and 50 (deaths under age 50 per 1,000 females alive at age 15)',
       'Mortality between Age 15 and 60, both sexes (deaths under age 60 per 1,000 alive at age 15)',
       'Male Mortality between Age 15 and 60 (deaths under age 60 per 1,000 males alive at age 15)',
       'Female Mortality between Age 15 and 60 (deaths under age 60 per 1,000 females alive at age 15)',
       'Net Number of Migrants (thousands)',
       'Net Migration Rate (per 1,000 population)'],
      dtype='object')

In [135]:
required_columns = [
    "Region, subregion, country or area *",
    'Year',
    "Total Population, as of 1 July (thousands)",
    "Births (thousands)",
    "Total Deaths (thousands)"
]

In [136]:
demographic_df=demographic_df[required_columns].dropna()
demographic_df

,"Region, subregion, country or area *",Year,"Total Population, as of 1 July (thousands)",Births (thousands),Total Deaths (thousands)
0,World,1950.0,2 493 093,91 824,48 487
1,World,1951.0,2 536 927,92 507,48 176
2,World,1952.0,2 584 086,97 371,47 383
3,World,1953.0,2 634 106,97 291,47 240
4,World,1954.0,2 685 895,100 188,46 662
...,...,...,...,...,...
3991,Zambia,2019.0,18 514,648,120
3992,Zambia,2020.0,19 059,656,119
3993,Zambia,2021.0,19 604,665,130
3994,Zambia,2022.0,20 153,676,113
3995,Zambia,2023.0,20 724,686,108

In [137]:
demographic_df.dtypes

Region, subregion, country or area *           object
Year                                          float64
Total Population, as of 1 July (thousands)     object
Births (thousands)                             object
Total Deaths (thousands)                       object
dtype: object

In [138]:
# change year to int
demographic_df['Year']=demographic_df['Year'].astype(int)

# Change the following columns to float
columns = [
    'Total Population, as of 1 July (thousands)',
    'Births (thousands)',
    'Total Deaths (thousands)'
]

for col in columns:
    demographic_df[col] = (demographic_df[col].replace(' ', '', regex=True).astype(float))

In [139]:
demographic_df.dtypes

Region, subregion, country or area *           object
Year                                            int32
Total Population, as of 1 July (thousands)    float64
Births (thousands)                            float64
Total Deaths (thousands)                      float64
dtype: object

In [140]:
demographic_clean_df=demographic_df.copy()

In [141]:
demographic_clean_df

,"Region, subregion, country or area *",Year,"Total Population, as of 1 July (thousands)",Births (thousands),Total Deaths (thousands)
0,World,1950,2493093.0,91824.0,48487.0
1,World,1951,2536927.0,92507.0,48176.0
2,World,1952,2584086.0,97371.0,47383.0
3,World,1953,2634106.0,97291.0,47240.0
4,World,1954,2685895.0,100188.0,46662.0
...,...,...,...,...,...
3991,Zambia,2019,18514.0,648.0,120.0
3992,Zambia,2020,19059.0,656.0,119.0
3993,Zambia,2021,19604.0,665.0,130.0
3994,Zambia,2022,20153.0,676.0,113.0
3995,Zambia,2023,20724.0,686.0,108.0

### 1. Find the World’s total Population’s as of 1 July (in thousands) in 2023

In [142]:
#demographic_clean_df[demographic_clean_df["Region, subregion, country or area *"]=='World'].where(['Year']==2023)
# Filter for the World in 2023
world_pop_2023 = demographic_clean_df[
    (demographic_clean_df['Region, subregion, country or area *'] == 'World') & \
    (demographic_clean_df['Year'] == 2023)]['Total Population, as of 1 July (thousands)']

print(int(world_pop_2023.values[0])) # population cannot be float

8091735

### 2. Find the mean Births (thousands) of Kenya from 1950 to 2023

In [155]:
# filter Kenyan Births from 1950 to 2023 and find the mean
births_in_kenya=demographic_clean_df[(demographic_clean_df['Region, subregion, country or area *'] == 'Kenya') & \
                 (demographic_df['Year'] >= 1950) & \
                (demographic_clean_df['Year'] <= 2023)]['Total Population, as of 1 July (thousands)'].mean()
print(int(births_in_kenya))

24004

### 3. Find the proportion of the Mean Births(thousands) to the Total Population of July (thousands) in Kenya.

In [151]:
# filter data for Kenya
kenya_demo_df = demographic_clean_df[demographic_clean_df['Region, subregion, country or area *'] == 'Kenya'].copy()

kenya_demo_df['proportion'] = kenya_demo_df['Births (thousands)'] / kenya_demo_df['Total Population, as of 1 July (thousands)']

# proportion
mean_proportion = kenya_demo_df['proportion'].mean()
round(mean_proportion,5)

0.04434

### 4. Using 95% percent confidence interval, find the figures within which the proportion above will lie

In [152]:
# calculate 95% confidence interval for the proportion
def confidence_interval(data, confidence):
    data=kenya_demo_df.copy()
    # yearly proportion
    data['proportion'] = data['Births (thousands)'] / data['Total Population, as of 1 July (thousands)']
    
    # statistics
    mean_prop = data['proportion'].mean()
    std_prop = data['proportion'].std()
    n = data.shape[0]

    # 95% confidence interval
    z_value=norm.ppf((1+confidence /100) / 2) # z_value
    error=z_value * (std_prop / np.sqrt(n))
    
    return (mean_prop - error, mean_prop + error)
    
lower, upper = confidence_interval (kenya_demo_df, 95)

print(f'CI for the proportion is: ({lower:.4f}, {upper:.4f})')

CI for the proportion is: (0.0424, 0.0463)

### 5. Find the correlation between the Births(thousands) and Total Deaths (thousands) in Kenya from 1950 to 2023. Interpret your results.

In [153]:
# filter kenya data for the period
kenya_1950_2023_df = demographic_df[
    (demographic_df['Region, subregion, country or area *'] == 'Kenya') & \
    (demographic_df['Year'] >= 1950) & \
    (demographic_df['Year'] <= 2023)]

# correlation
correlation = kenya_1950_2023_df['Births (thousands)'].corr(kenya_1950_2023_df['Total Deaths (thousands)'])
correlation

0.9133899699397455

#### Interpretation

- There is a strong positive correlation (r ≈ 0.91) between the number of births and total deaths in Kenya between 1950 and 2023. This may suggest that, 
when the number of births increases, the number of deaths tends to increase as well.

### 6. Take a simple random sample of size 16 in Kenya and size 20 in Uganda and
- i). Compare their mean
- ii). Compare their median
- iii). Determine if there is a statistical difference in their
    a). mean
    b). Their median

In [156]:
# filter kenya and uganda
np.random.seed(2)
kenya = demographic_clean_df[demographic_clean_df['Region, subregion, country or area *'] == 'Kenya'].copy()
uganda = demographic_clean_df[demographic_clean_df['Region, subregion, country or area *'] == 'Uganda'].copy()

In [164]:
# create random seed
np.random.seed(42)

# take samples for kenya
k_data=kenya.sample(16, replace=False)
k_data

,"Region, subregion, country or area *",Year,"Total Population, as of 1 July (thousands)",Births (thousands),Total Deaths (thousands)
2964,Kenya,1954,6348.0,338.0,161.0
3023,Kenya,2013,44987.0,1459.0,323.0
2978,Kenya,1968,10519.0,563.0,151.0
2960,Kenya,1950,5769.0,285.0,176.0
2988,Kenya,1978,14934.0,730.0,155.0
3033,Kenya,2023,55339.0,1500.0,399.0
2970,Kenya,1960,7695.0,425.0,145.0
2994,Kenya,1984,18515.0,873.0,164.0
2972,Kenya,1962,8299.0,460.0,144.0
3015,Kenya,2005,35796.0,1388.0,308.0
3025,Kenya,2015,47089.0,1455.0,336.0
2991,Kenya,1981,16602.0,800.0,157.0
2969,Kenya,1959,7423.0,411.0,146.0
3005,Kenya,1995,26602.0,1086.0,274.0
2965,Kenya,1955,6529.0,351.0,158.0
2982,Kenya,1972,12206.0,629.0,156.0

In [165]:
# take samples uganda
u_data=uganda.sample(20, replace=False)
u_data

,"Region, subregion, country or area *",Year,"Total Population, as of 1 July (thousands)",Births (thousands),Total Deaths (thousands)
3798,Uganda,1974,11425.0,555.0,209.0
3823,Uganda,1999,23257.0,1132.0,357.0
3821,Uganda,1997,21856.0,1084.0,356.0
3804,Uganda,1980,13276.0,647.0,276.0
3840,Uganda,2016,38799.0,1485.0,236.0
3775,Uganda,1951,5911.0,307.0,145.0
3835,Uganda,2011,33355.0,1408.0,261.0
3779,Uganda,1955,6614.0,335.0,147.0
3805,Uganda,1981,13556.0,661.0,281.0
3794,Uganda,1970,10322.0,503.0,169.0
3791,Uganda,1967,9409.0,453.0,157.0
3832,Uganda,2008,30540.0,1337.0,281.0
3789,Uganda,1965,8849.0,423.0,151.0
3793,Uganda,1969,10015.0,485.0,164.0
3803,Uganda,1979,13002.0,635.0,253.0
3809,Uganda,1985,15024.0,747.0,284.0
3777,Uganda,1953,6249.0,322.0,146.0
3830,Uganda,2006,28794.0,1301.0,301.0
3842,Uganda,2018,41566.0,1566.0,233.0
3792,Uganda,1968,9709.0,470.0,160.0

(i) Compare their mean

In [169]:
# compute mean of births
kenya_mean = k_data['Births (thousands)'].mean()
uganda_mean = u_data['Births (thousands)'].mean()
print(f'Kenya mean: {kenya_mean} in thousands \nUganda mean: {uganda_mean} in thousands')

Kenya mean: 797.0625 in thousands
Uganda mean: 792.8 in thousands

#### Comparison
- Based on the random samples, Kenya has slightly higher average number of births than Uganda.

ii) Compare their median

In [171]:
# compute median of births
kenya_median = k_data['Births (thousands)'].median()
uganda_median = u_data['Births (thousands)'].median()
print(f'Kenya median: {kenya_median} in thousands \nUganda median: {uganda_median} in thousands')

Kenya median: 679.5 in thousands
Uganda median: 641.0 in thousands

#### Comparison
- Based on the random samples, Kenya has a higher median number of births than Uganda.

iii) Determine if there is a statistical difference in their
    a). mean
    b). Their median

In [175]:
# mean
from scipy.stats import ttest_ind as tt

# two sample t-test
t_stat, p_value_mean = tt(k_data['Births (thousands)'], u_data['Births (thousands)'], equal_var=False)
p_value_mean

0.9770707658656641

In [174]:
# median
from scipy.stats import mannwhitneyu as mw

# non-parametric test
u_stat, p_value_median = mw(k_data['Births (thousands)'], u_data['Births (thousands)'], alternative='two-sided')
p_value_median

1.0