## Task  10 marks
Url="https://statso.io/wp-content/uploads/2024/02/food_orders_new_delhi.csv"

* Create a CSV file from Url and save it on your device (2mks)
* Create a Dataframe from that csv  (1mk)
* Find the dimension of the dataframe (1mk)
* Find the mean, mode, median and std dev of Commission fees (2mks)
* create a sample of size 100 using the code,  sample=df.sample(100)  (1mk)
* Using the sample, find the sample mean of the Commission fee, then find 95% confidence interval for the sample mean.  (3mks)

In [17]:
# load imports
import requests
import zipfile
import io
import os
import pandas as pd

In [18]:
# url
Url="https://statso.io/wp-content/uploads/2024/02/food_orders.zip"

# create extract dir
extract_dir = os.path.expanduser("~/Documents/GitHub/ML_MachineLearning/Statistics_for_Data_Science/assignment/food")
response=requests.get(Url)

- Create a CSV file from Url and save it on your device (2mks)

In [ ]:
# extract zip using zipfile
with zipfile.ZipFile(io.BytesIO(response.content)) as z:
    z.extractall(extract_dir)

In [15]:
# check current working directory
cwd = os.getcwd()
print("Current working directory:", 'cwd') # remove quates on cwd

Current working directory: C:\Users\Davie\Documents\GitHub\ML_MachineLearning\Statistics_for_Data_Science\assignment

- Create a Dataframe from that csv (1mk)

In [19]:
# load dataframe
food_orders=pd.read_csv('food/food_orders_new_delhi.csv')
food_orders

,Order ID,Customer ID,Restaurant ID,Order Date and Time,Delivery Date and Time,Order Value,Delivery Fee,Payment Method,Discounts and Offers,Commission Fee,Payment Processing Fee,Refunds/Chargebacks
0,1,C8270,R2924,2024-02-01 01:11:52,2024-02-01 02:39:52,1914,0,Credit Card,5% on App,150,47,0
1,2,C1860,R2054,2024-02-02 22:11:04,2024-02-02 22:46:04,986,40,Digital Wallet,10%,198,23,0
2,3,C6390,R2870,2024-01-31 05:54:35,2024-01-31 06:52:35,937,30,Cash on Delivery,15% New User,195,45,0
3,4,C6191,R2642,2024-01-16 22:52:49,2024-01-16 23:38:49,1463,50,Cash on Delivery,NaN,146,27,0
4,5,C6734,R2799,2024-01-29 01:19:30,2024-01-29 02:48:30,1992,30,Cash on Delivery,50 off Promo,130,50,0
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,C6232,R2129,2024-01-14 05:57:00,2024-01-14 06:39:00,825,0,Digital Wallet,5% on App,165,47,50
996,997,C6797,R2742,2024-01-28 08:50:43,2024-01-28 10:10:43,1627,50,Cash on Delivery,NaN,110,42,0
997,998,C5926,R2837,2024-01-21 09:43:19,2024-01-21 10:44:19,553,20,Cash on Delivery,NaN,64,31,0
998,999,C7016,R2144,2024-01-30 22:23:38,2024-01-31 00:07:38,1414,0,Cash on Delivery,15% New User,199,34,0
999,1000,C4335,R2890,2024-01-08 14:46:43,2024-01-08 15:39:43,1657,20,Digital Wallet,15% New User,180,27,100

- Find the dimension of the dataframe (1mk)

In [ ]:
Find the dimension of the dataframe (1mk)
Find the mean, mode, median and std dev of Commission fees (2mks)
create a sample of size 100 using the code, sample=df.sample(100) (1mk)
Using the sample, find the sample mean of the Commission fee, then find 95% confidence interval for the sample mean. (3mks)

In [ ]:
Find the dimension of the dataframe (1mk)
Find the mean, mode, median and std dev of Commission fees (2mks)
create a sample of size 100 using the code, sample=df.sample(100) (1mk)
Using the sample, find the sample mean of the Commission fee, then find 95% confidence interval for the sample mean. (3mks)