## Task  10 marks
Url="https://statso.io/wp-content/uploads/2024/02/food_orders_new_delhi.csv"

* Create a CSV file from Url and save it on your device (2mks)
* Create a Dataframe from that csv  (1mk)
* Find the dimension of the dataframe (1mk)
* Find the mean, mode, median and std dev of Commission fees (2mks)
* create a sample of size 100 using the code,  sample=df.sample(100)  (1mk)
* Using the sample, find the sample mean of the Commission fee, then find 95% confidence interval for the sample mean.  (3mks)

In [1]:
# load imports
import requests
import zipfile
import io
import os
import pandas as pd
import numpy as np
from scipy.stats import norm

In [50]:
# check current working directory
cwd = os.getcwd()
print("Current working directory:", cwd)

Current working directory: C:\Users\Davie\Documents\GitHub\ML_MachineLearning\Statistics_for_Data_Science\assignment

In [51]:
# url
Url="https://statso.io/wp-content/uploads/2024/02/food_orders.zip"

# create extract dir
extract_dir = os.path.join(cwd, 'food') #/Documents/GitHub/ML_MachineLearning/Statistics_for_Data_Science/
response=requests.get(Url)

- Create a CSV file from Url and save it on your device (2mks)

In [52]:
# extract zip using zipfile
with zipfile.ZipFile(io.BytesIO(response.content)) as z:
    z.extractall(extract_dir)

- Create a Dataframe from that csv (1mk)

In [53]:
# load dataframe
food_orders=pd.read_csv('food/food_orders_new_delhi.csv')
food_orders.head()

,Order ID,Customer ID,Restaurant ID,Order Date and Time,Delivery Date and Time,Order Value,Delivery Fee,Payment Method,Discounts and Offers,Commission Fee,Payment Processing Fee,Refunds/Chargebacks
0,1,C8270,R2924,2024-02-01 01:11:52,2024-02-01 02:39:52,1914,0,Credit Card,5% on App,150,47,0
1,2,C1860,R2054,2024-02-02 22:11:04,2024-02-02 22:46:04,986,40,Digital Wallet,10%,198,23,0
2,3,C6390,R2870,2024-01-31 05:54:35,2024-01-31 06:52:35,937,30,Cash on Delivery,15% New User,195,45,0
3,4,C6191,R2642,2024-01-16 22:52:49,2024-01-16 23:38:49,1463,50,Cash on Delivery,NaN,146,27,0
4,5,C6734,R2799,2024-01-29 01:19:30,2024-01-29 02:48:30,1992,30,Cash on Delivery,50 off Promo,130,50,0

- Find the dimension of the dataframe (1mk)

In [6]:
food_orders.shape

(1000, 12)

- Find the mean, mode, median and std dev of Commission fees (2mks)

In [7]:
# filter Commission Fee column
com_fee=food_orders.loc[:,"Commission Fee"]
com_fee

0      150
1      198
2      195
3      146
4      130
      ...
995    165
996    110
997     64
998    199
999    180
Name: Commission Fee, Length: 1000, dtype: int64

In [8]:
# mean, mode, median and std
print(f'The statistics for commission fee column are: \
\nmean: {com_fee.mean()} \
\nmode: {com_fee.mode()[0]} \
\nmedian: {com_fee.median()} \
\nstandard deviation: {round(com_fee.std(),2)}')

The statistics for commission fee column are:
mean: 126.99
mode: 126
median: 127.0
standard deviation: 43.06

- create a sample of size 100 using the code, sample=df.sample(100) (1mk)

In [9]:
sample=food_orders.sample(100, random_state=4)
sample

,Order ID,Customer ID,Restaurant ID,Order Date and Time,Delivery Date and Time,Order Value,Delivery Fee,Payment Method,Discounts and Offers,Commission Fee,Payment Processing Fee,Refunds/Chargebacks
698,699,C7777,R2773,2024-01-15 13:10:08,2024-01-15 14:16:08,282,20,Credit Card,5% on App,118,18,100
577,578,C4775,R2081,2024-02-01 16:40:21,2024-02-01 17:59:21,489,30,Cash on Delivery,NaN,165,50,0
763,764,C5206,R2385,2024-02-05 23:38:39,2024-02-06 01:14:39,969,30,Cash on Delivery,5% on App,156,17,100
790,791,C6966,R2690,2024-01-23 23:08:37,2024-01-23 23:53:37,797,0,Digital Wallet,NaN,149,47,0
520,521,C8419,R2972,2024-02-05 17:23:42,2024-02-05 17:55:42,242,20,Cash on Delivery,5% on App,123,18,100
...,...,...,...,...,...,...,...,...,...,...,...,...
467,468,C8400,R2144,2024-01-19 16:08:45,2024-01-19 17:38:45,1749,40,Digital Wallet,50 off Promo,194,45,100
362,363,C9932,R2738,2024-01-28 10:20:52,2024-01-28 11:17:52,1155,50,Cash on Delivery,15% New User,172,14,150
731,732,C6126,R2685,2024-02-01 13:27:52,2024-02-01 14:38:52,974,20,Digital Wallet,50 off Promo,176,46,0
380,381,C8004,R2920,2024-01-19 01:25:54,2024-01-19 02:31:54,860,40,Credit Card,10%,187,42,100
489,490,C6305,R2648,2024-01-31 11:16:18,2024-01-31 12:04:18,1352,40,Digital Wallet,50 off Promo,68,26,50

- Using the sample, find the sample mean of the Commission fee, then find 95% confidence interval for the sample mean. (3mks)

In [10]:
# commission fee sample column
com_fee_sample=sample["Commission Fee"]

# sample mean
com_fee_sample.mean()

np.float64(127.92)

In [41]:
# calculate 95% confidence interval for the sample mean
def confidence_interval(data_array, confidence):
    data=np.array(data_array)
    sample_size=len(data)
    mean=np.mean(data)
    sample_std=np.std(data, ddof=1)
    # standard error
    error=sample_std/np.sqrt(sample_size)
    # z_value
    z_value=norm.ppf((1+confidence /100) / 2)
    
    return (mean -round(z_value*error), mean +(z_value*error))

confidence_interval (com_fee_sample, 95)
print(f'CI of the sample is: ({lower:.2f}, {upper:.2f})')

CI of the sample is: (119.10, 136.74)